<div class="form-container">
  <h1 id="title" class="center">Register</h1>

  <p class="subtitle center mr-bottom">
    Before they call you a doer, you gotta become a Todoer.
  </p>

  <%= form_with(model: resource, url: registration_path(resource_name)) do |form| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= form.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>

    <div class="field">
      <%= form.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
    </div>

    <div class="actions">
      <%= form.submit "Continue" %>
    </div>
  <% end %>

  <div class="subtitle center mr-top">
    Already registered?
    <%= link_to "Login", login_path %>
  </div>
</div>
