<div class="form-container">
  <h1 class="title center">Login</h1>

  <%= form_with(model: resource, url: session_path(resource_name)) do |form| %>
    <div class="field">
      <%= form.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>

    <div class="field">
      <%= form.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
    </div>

    <div class="field float-right">
      <%= link_to "Forgot password?", forgot_path %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field hide">
        <%= form.check_box :remember_me, checked: true %>
        <%= form.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= form.submit "Continue" %>
    </div>
  <% end %>

  <div class="subtitle center mr-top">
    Don't have an account?
    <%= link_to "Register", register_path %>
  </div>
</div>
