<div class="form-container">
  <h1 id="title" class="center">Reset Password</h1>

  <%= form_with(model: resource, url: password_path(resource_name), method: :put) do |form| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= form.hidden_field :reset_password_token %>

    <div class="field">
      <%= form.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "New password" %>
    </div>

    <div class="field">
      <%= form.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Retype new password" %>
    </div>

    <div class="actions">
      <%= form.submit "Continue" %>
    </div>
  <% end %>
</div>
