<div id="app" class="mr-top mr-bottom">
  <div id="todos-container" data-controller="todo">
    <ul id="incomplete-todos" class="todos">
      <% @incomplete_todos.each do |todo| %>
        <li class="todo">
          <%= form_with(model: todo, data: { todo_target: "updateTodoForm" }) do |form| %>
            <div class="todo-status">
              <div class="todo-status-checkbox" data-action="click->todo#submitUpdateTodoForm">
                <%= image_tag "check.svg", alt: "Mark todo complete", size: "12x12" %>
              </div>
            </div>

            <%= form.hidden_field :completed, data: { todo_target: "completedHiddenField" } %>

            <div class="todo-title" contenteditable="true" spellcheck="false" placeholder="<%= Tagline::DEFAULT_TAGLINE %>">
              <%= todo.title %>
            </div>

            <%= form.hidden_field :title %>

            <div class="todo-actions">
              <%= image_tag "delete.svg", alt: "Delete todo", size: "16x16", class: "hoverlight delete" %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>

    <ul class="todos">
      <li id="add-todo" class="todo">
        <%= form_with(model: @new_todo, data: { todo_target: "addTodoForm" }) do |form| %>
          <div class="todo-title field"
            contenteditable="true"
            spellcheck="false"
            placeholder="<%= Tagline::DEFAULT_TAGLINE %>"
            data-todo-target="title"
            data-action="input->todo#updateTitleHiddenFieldValue
              keydown.enter->todo#submitAddTodoForm
              keydown.shift+enter->todo#submitAddTodoForm
              keydown.ctrl+enter->todo#submitAddTodoForm
              keydown.alt+enter->todo#submitAddTodoForm
              keydown.ctrl+alt+enter->todo#submitAddTodoForm
              keydown.ctrl+shift+enter->todo#submitAddTodoForm
              keydown.shift+alt+enter->todo#submitAddTodoForm
              keydown.ctrl+alt+shift+enter->todo#submitAddTodoForm
              keydown.esc->todo#focusOut
              paste->todo#autoSquishText"></div>

          <%= form.hidden_field :title, data: { todo_target: "titleHiddenField" } %>

          <div class="todo-actions visible">
            <%= image_tag "add.svg", alt: "Add todo", size: "16x16", id: "todo-submit", class: "hoverlight", data: { action: "click->todo#submitAddTodoForm" } %>
          </div>
        <% end %>
      </li>
    </ul>

    <ul id="completed-todos" class="todos">
      <% @completed_todos.each do |todo| %>
        <li class="todo">
          <%= form_with(model: todo) do |form| %>
            <div class="todo-status">
              <div class="todo-status-checkbox completed">
                <%= image_tag "check.svg", alt: "Mark todo incomplete", size: "12x12" %>
              </div>
            </div>

            <div class="todo-title completed">
              <%= todo.title %>
            </div>

            <div class="todo-actions">
              <%= image_tag "delete.svg", alt: "Delete todo", size: "16x16", class: "hoverlight delete" %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
