<div id="app">
  <div id="todos-container">
    <ul class="todos">
      <li class="todo" data-todo-id="123">
        <div class="todo-status">
          <div class="todo-status-checkbox">
            <%= image_tag "check.svg", alt: "Mark todo complete", size: "12x12" %>
          </div>
        </div>

        <div class="todo-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla imperdiet ipsum et ante venenatis suscipit. Pellentesque non ultrices tellus. Phasellus dui orci, elementum ac eros at, auctor faucibus libero. Aliquam tempus hendrerit lectus, et facilisis erat facilisis consectetur. Nam dapibus vitae leo eget tempor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut suscipit odio a dolor malesuada porttitor. Curabitur hendrerit ligula eu ullamcorper dignissim. Nulla facilisi. In congue nisi vitae libero dapibus, a placerat purus convallis. Nunc dignissim, velit sed euismod accumsan, odio diam ullamcorper sem, ut ornare dolor nisl ac magna. Sed fermentum libero urna, nec efficitur nisi convallis quis. Pellentesque sed feugiat lectus. Integer quis nisl hendrerit, fringilla metus vel, commodo mi. Praesent tempus est a lorem rutrum commodo. Donec tempus molestie dui, ut sagittis urna dapibus ac.
        </div>

        <div class="todo-actions">
          <%= image_tag "edit.svg", alt: "Edit todo", size: "16x16", class: "edit-todo hoverlight" %>
          <%= image_tag "delete.svg", alt: "Delete todo", size: "16x16", class: "delete-todo hoverlight" %>
        </div>
      </li>

      <li class="todo" data-todo-id="456">
        <div class="todo-status">
          <div class="todo-status-checkbox">
            <%= image_tag "check.svg", alt: "Mark task complete", size: "12x12" %>
          </div>
        </div>

        <div class="todo-title">
          Design app page
        </div>

        <div class="todo-actions">
          <%= image_tag "edit.svg", alt: "Edit todo", size: "16x16", class: "edit-todo hoverlight" %>
          <%= image_tag "delete.svg", alt: "Delete todo", size: "16x16", class: "delete-todo hoverlight" %>
        </div>
      </li>

      <li id="new-todo" class="todo">
        <form action="#" method="post">
          <input type="text" name="todo_title" placeholder="Add new todo">
          <button type="button" data-add-todo-navigation-element="true" class="plus_add_button">
            <span class="icon_add" aria-hidden="true">
              <svg width="13" height="13">
                <path fill="currentColor" fill-rule="evenodd" d="M6 6V.5a.5.5 0 0 1 1 0V6h5.5a.5.5 0 1 1 0 1H7v5.5a.5.5 0 1 1-1 0V7H.5a.5.5 0 0 1 0-1H6z"></path>
              </svg>
            </span>
          </button>
        </form>
      </li>
    </ul>

    <ul class="todos">
      <li class="todo" data-todo-id="789">
        <div class="todo-status">
          <div class="todo-status-checkbox completed">
            <%= image_tag "check.svg", alt: "Mark task complete", size: "12x12" %>
          </div>
        </div>

        <div class="todo-title completed">
          Deploy
        </div>

        <div class="todo-actions">
          <%= image_tag "delete.svg", alt: "Delete todo", size: "16x16", class: "delete-todo hoverlight" %>
        </div>
      </li>
    </ul>
  </div>
</div>
