<div id="app" class="mr-top mr-bottom">
  <div id="todos-container">
    <ul id="incomplete-todos" class="todos">
      <% @incomplete_todos.each do |todo| %>
        <li class="todo" data-controller="todo">
          <%= form_with(model: todo, data: { todo_target: "form" }) do |form| %>
            <%= form.hidden_field :completed, data: { todo_target: "completedHiddenField", original_value: todo.completed } %>
            <%= form.hidden_field :title, data: { todo_target: "titleHiddenField", original_value: todo.title } %>
          <% end %>

          <div class="todo-status">
            <div class="todo-status-checkbox" data-action="click->todo#updateCompletedHiddenField click->todo#saveTodo">
              <%= image_tag "check.svg", alt: "Mark todo complete", size: "12x12" %>
            </div>
          </div>

          <div class="todo-title"
            contenteditable="true"
            spellcheck="false"
            placeholder="<%= Tagline::DEFAULT_TAGLINE %>"
            data-todo-target="titleField"
            data-action="input->todo#updateTitleHiddenField
              focusout->todo#saveTodo
              keydown.enter->todo#saveTodo
              keydown.shift+enter->todo#saveTodo
              keydown.ctrl+enter->todo#saveTodo
              keydown.alt+enter->todo#saveTodo
              keydown.ctrl+alt+enter->todo#saveTodo
              keydown.ctrl+shift+enter->todo#saveTodo
              keydown.shift+alt+enter->todo#saveTodo
              keydown.ctrl+alt+shift+enter->todo#saveTodo
              keydown.esc->todo#revertTitleChanges
              keydown.esc->todo#blurElement
              paste->todo#autoSquishTitle"><%= todo.title %></div>

          <div class="todo-actions">
            <%= button_to todo_path(todo), method: :delete do %>
              <%= image_tag "delete.svg", alt: "Delete todo", size: "16x16", class: "hoverlight delete" %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>

    <ul class="todos">
      <li id="add-todo" class="todo" data-controller="todo">
        <%= form_with(model: @new_todo, data: { todo_target: "form" }) do |form| %>
          <%= form.hidden_field :title, data: { todo_target: "titleHiddenField", original_value: "" } %>
        <% end %>

        <div class="todo-title field"
          contenteditable="true"
          spellcheck="false"
          placeholder="<%= Tagline::DEFAULT_TAGLINE %>"
          data-todo-target="titleField"
          data-action="input->todo#updateTitleHiddenField
            keydown.enter->todo#saveTodo
            keydown.shift+enter->todo#saveTodo
            keydown.ctrl+enter->todo#saveTodo
            keydown.alt+enter->todo#saveTodo
            keydown.ctrl+alt+enter->todo#saveTodo
            keydown.ctrl+shift+enter->todo#saveTodo
            keydown.shift+alt+enter->todo#saveTodo
            keydown.ctrl+alt+shift+enter->todo#saveTodo
            keydown.esc->todo#revertTitleChanges
            keydown.esc->todo#blurElement
            paste->todo#autoSquishTitle"></div>

        <div class="todo-actions visible">
          <%= image_tag "add.svg", alt: "Add todo", size: "16x16", id: "todo-submit", class: "hoverlight", data: { action: "click->todo#saveTodo" } %>
        </div>
      </li>
    </ul>

    <ul id="completed-todos" class="todos">
      <% @completed_todos.each do |todo| %>
        <li class="todo" data-controller="todo">
          <%= form_with(model: todo, data: { todo_target: "form" }) do |form| %>
            <%= form.hidden_field :completed, data: { todo_target: "completedHiddenField", original_value: todo.completed } %>
          <% end %>

          <div class="todo-status">
            <div class="todo-status-checkbox completed" data-action="click->todo#updateCompletedHiddenField click->todo#saveTodo">
              <%= image_tag "check.svg", alt: "Mark todo incomplete", size: "12x12" %>
            </div>
          </div>

          <div class="todo-title completed">
            <%= todo.title %>
          </div>

          <div class="todo-actions">
            <%= button_to todo_path(todo), method: :delete do %>
              <%= image_tag "delete.svg", alt: "Delete todo", size: "16x16", class: "hoverlight delete" %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
