<div id="app">
  <div id="todos-container">
    <ul class="todos">
      <li class="todo" data-todo-id="123">
        <div class="todo-status">
          <%= image_tag "check.svg", alt: "Mark todo complete", size: "12x12" %>
        </div>

        <div class="todo-title">
          Reword all success and error messages
        </div>

        <div class="todo-actions">
          <%= image_tag "edit.svg", alt: "Edit todo", size: "16x16", id: "edit-todo" %>
          <%= image_tag "delete.svg", alt: "Delete todo", size: "16x16", id: "delete-todo" %>
        </div>
      </li>

      <li class="todo" data-todo-id="456">
        <div class="todo-status">
          <%= image_tag "check.svg", alt: "Mark task complete", size: "12x12" %>
        </div>

        <div class="todo-title">
          Design app page
        </div>

        <div class="todo-actions">
          <%= image_tag "edit.svg", alt: "Edit todo", size: "16x16", id: "edit-todo" %>
          <%= image_tag "delete.svg", alt: "Delete todo", size: "16x16", id: "delete-todo" %>
        </div>
      </li>

      <li id="new-todo" class="todo">
        <form action="#" method="post">
          <input type="text" name="todo_title" placeholder="Add new todo">
          <button type="button" data-add-todo-navigation-element="true" class="plus_add_button">
            <span class="icon_add" aria-hidden="true">
              <svg width="13" height="13">
                <path fill="currentColor" fill-rule="evenodd" d="M6 6V.5a.5.5 0 0 1 1 0V6h5.5a.5.5 0 1 1 0 1H7v5.5a.5.5 0 1 1-1 0V7H.5a.5.5 0 0 1 0-1H6z"></path>
              </svg>
            </span>
          </button>
        </form>
      </li>
    </ul>

    <ul class="todos">
      <li class="todo" data-todo-id="789">
        <div class="todo-status completed">
          <%= image_tag "check.svg", alt: "Mark task complete", size: "12x12" %>
        </div>

        <div class="todo-title completed">
          Deploy
        </div>

        <div class="todo-actions">
          <%= image_tag "delete.svg", alt: "Delete todo", size: "16x16", id: "delete-todo" %>
        </div>
      </li>
    </ul>
  </div>
</div>
