<%= turbo_frame_tag todo do %>
  <li class="todo" data-controller="todo error">
    <%= form_with(model: todo, data: { todo_target: "form" }) do |form| %>
      <%= form.hidden_field :completed, data: { todo_target: "completedHiddenField", original_value: todo.completed } %>
      <% unless todo.completed? %>
        <%= form.hidden_field :title, data: { todo_target: "titleHiddenField", original_value: todo.errors.any? ? @todo_before_update.title : todo.title } %>
      <% end %>
    <% end %>

    <div class="todo-status">
      <div class="todo-status-checkbox <%= "completed" if todo.completed? %>" style="<%= "opacity:0;" if todo.errors.any? %>" data-todo-target="completedCheckbox" data-action="click->todo#updateCompletedHiddenField click->todo#saveTodo">
        <%= image_tag "check.svg", size: "12x12" %>
      </div>
    </div>

    <div class="todo-data">
      <div <%= title_attributes(todo) %>><%= todo.title %></div>

      <div class="todo-info">
        <div class="todo-error">
          <%= render "error_messages", resource: todo %>
        </div>

        <div class="todo-hint">
          <span class="key">enter</span> save / <span class="key">esc</span> cancel
        </div>
      </div>
    </div>

    <div class="todo-actions">
      <%= button_to todo_path(todo), method: :delete, data: { turbo_frame: "_top" } do %>
        <%= image_tag "delete.svg", alt: "Delete todo", size: "16x16", class: "hoverlight delete" %>
      <% end %>
    </div>
  </li>
<% end %>
