<%# FIXME: For now, this partial serves as both a form for create/update todo & to show a todo record %>
<%= turbo_frame_tag todo do %>
  <li id="<%= "add-todo" if todo.new_record? %>" class="todo" data-controller="todo error">
    <%= form_with(model: todo, data: { todo_target: "form" }) do |form| %>
      <%= form.hidden_field :completed, data: { todo_target: "completedHiddenField", original_value: todo.completed } if todo.persisted? %>
      <%= form.hidden_field :title, data: { todo_target: "titleHiddenField", original_value: title_original_value(todo) } unless todo.completed? %>
    <% end %>

    <% if todo.persisted? %>
      <div class="todo-status">
        <div <%= completed_attributes(todo) %>>
          <%= image_tag "check.svg", size: "12x12" %>
        </div>
      </div>
    <% end %>

    <div class="todo-data">
      <div <%= title_attributes(todo) %>><%= todo.title %></div>

      <div class="todo-info">
        <div class="todo-error">
          <%= render "error_messages", resource: todo %>
        </div>

        <div class="todo-hint">
          <span class="key">enter</span> save / <span class="key">esc</span> cancel
        </div>
      </div>
    </div>

    <div class="todo-actions">
      <% if todo.persisted? %>
        <%= button_to todo_path(todo), method: :delete, title: "Delete", data: { turbo_frame: "_top" } do %>
          <%= image_tag "delete.svg", alt: "Delete todo", size: "16x16", class: "hoverlight delete" %>
        <% end %>
      <% else %>
        <%= image_tag "add.svg", alt: "Add todo", title: "Add", size: "16x16", id: "todo-submit", class: "hoverlight visible", data: { action: "click->todo#saveTodo" } %>
      <% end %>
    </div>
  </li>
<% end %>
