<!DOCTYPE html>
<html>
  <head>
    <title>Todoer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body <%= scrollable_tagline_attributes %>>
    <div id="master-container">
      <%= render 'header' %>

      <div id="main-content">
        <%= yield %>
      </div>

      <%= render 'footer' %>
    </div>
  </body>
</html>
