<header data-controller="header" data-action="scroll@window->header#activate" data-header-active-class="active">
  <div id="logo">
    <% if user_signed_in? %>
      <% if controller_name == "apps" %>
        <%= link_to account_path, title: "Account" do %>
          <%= image_tag "account.svg", alt: "Account", size: "28x28", class: "hoverlight" %>
        <% end %>
      <% else %>
        <%= link_to app_path, title: "Back to app" do %>
          <%= image_tag "back.svg", alt: "Back", size: "28x28", class: "hoverlight" %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to root_path, title: "Todoer" do %>
        <%= image_tag "logo.svg", alt: "Todoer", size: "48x48" %>
      <% end %>
    <% end %>
  </div>

  <div id="nav-link">
    <% if user_signed_in? %>
      <%= link_to logout_path, title: "Logout", data: { turbo_method: :delete } do %>
        <%= image_tag "logout.svg", size: "28x28", class: "hoverlight" %>
      <% end %>
    <% else %>
      <%= link_to login_path, title: "Login" do %>
        <%= image_tag "login.svg", size: "28x28", class: "hoverlight" %>
      <% end %>
    <% end %>
  </div>
</header>
