<header data-controller="header" data-action="scroll@window->header#activate" data-header-active-class="active">
  <div id="logo">
    <% if user_signed_in? %>
      <% if controller_name == "apps" %>
        <%= link_to account_path do %>
          <%= image_tag "account.svg", alt: "Account", size: "28x28", class: "hoverlight" %>
        <% end %>
      <% else %>
        <%= link_to app_path do %>
          <%= image_tag "back.svg", alt: "Back", size: "28x28", class: "hoverlight" %>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to root_path do %>
        <%= image_tag "logo.png", alt: "Logo", size: "80x80" %>
      <% end %>
    <% end %>
  </div>

  <div id="nav-link">
    <% if user_signed_in? %>
      <%= link_to logout_path, data: { turbo_method: :delete } do %>
        <%= image_tag "logout.svg", size: "28x28", class: "hoverlight" %>
      <% end %>
    <% else %>
      <%= link_to login_path do %>
        <%= image_tag "login.svg", size: "28x28", class: "hoverlight" %>
      <% end %>
    <% end %>
  </div>
</header>
