<header>
  <div id="logo">
    <%= link_to root_path do %>
      <%= image_tag "logo", alt: "Logo", size: "80x80" %>
    <% end %>
  </div>

  <%# <div class="tagline">
    <p>Let's get things TODOed</p>
  </div> %>

  <div id="nav-links">
    <% if user_signed_in? %>
      <%= link_to logout_path, id: "logout", data: { turbo_method: :delete } do %>
        <%= image_tag "logout.svg", size: "28x28" %>
      <% end %>
    <% else %>
      <%= link_to login_path, id: "login" do %>
        <%= image_tag "login.svg", size: "28x28" %>
      <% end %>
    <% end %>
  </div>
</header>
