<!DOCTYPE html>
<html>
  <head>
    <title>Todoer</title>
    <%= favicon_link_tag "favicon.svg", rel: "icon", type: "image/svg+xml" %>
    <%= favicon_link_tag "favicon.png", rel: "apple-touch-icon", type: "image/png" %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :meta_tags %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body <%= scrollable_tagline_attributes %>>
    <div id="master-container">
      <%= render 'header' %>

      <div id="main-content">
        <%= render 'flashes' %>
        <%= yield %>
      </div>

      <%= render 'footer' %>
    </div>
  </body>
</html>
